/*template*/
.content{
	width:1030px;
	min-height:500px;
	margin:0px auto;
	margin-top:20px;
}
.head{
	height:75px;
	position:relative;
}
.head .logo{
	display:block;
	float:left;
}
.logo-text{
	display:block;
	float:left;
	position:absolute;
	bottom:5px;
	left:200px;
}
.head img{
	width:189px;
	height:75px;
}
.footer{
	height:45px;
	width:800px;
	margin-top:20px;
	line-height:45px;
	text-align:center;
}
/*·ÖÒ³ */
 .fenye-bottom{
    height:40px;
}

 .fenye-bottom a, .fenye-bottom span{
	padding:6px 15px;
	margin-right:2px;
	border:1px solid #ccc;
	float:left;
}
 .fenye-bottom span{
	border:none;
	background-color:#fff;
}
 .fenye-bottom .currentPage{
	background-color:#0099FF;
	color:#fff;
}
 .fenye-bottom a:hover{
	border-color:#0099FF;
}