*{font-family: '微软雅黑',Georgia,Serif;font-size:15px;margin:0px;padding:0px;}
ul {list-style-type:none;}
body{
	background-color:#F1F2F6;
}
a{
	color:#333;
	text-decoration:none;
}
img{
	border:none;
	outline:none;
}
a:hover{
	color:#0099FF;
}