body{font-family: '微软雅黑',Georgia,Serif;font-size:13px;}
p,h1,div,h2,ul,li,table,tr,td,dl,dt,dd{
	margin:0px;
	padding:0px;
}
ul {list-style-type:none;}
body{
	background-color:#fff;
}
a{
	color:#333;
	text-decoration:none;
}
img{
	border:none;
	outline:none;
}
a:hover{
	color:#0099FF;
}