body{font-family:'微软雅黑';}

.main .blog-title a{
	display:block;
	line-height:26px;
	font-size:16px;
	font-weight:normal;
}
.main .blog-title a:hover{
	text-decoration:underline;
}
.main .blog-item{
	border-bottom:1px dashed #ddd;
	padding-bottom:10px;
	padding-top:10px;
}

 .blog-item  p.blog-content{
	line-height:220%;
	text-align:justify;
	color:#666;
	letter-spacing:1px;
}
.main .blog-item-img{
	width:220px;
}
.main .recommend{
	border-bottom:1px dashed #ddd;
}
.recommend h1{
	line-height:38px;
	margin-bottom:10px;
}
.recommend h1 a{
	font-size:26px;
	font-weight:normal;
}
.recommend h1 a:hover{
	text-decoration:underline;
}
.recommend p{
	margin-bottom:10px;
}
.recommend p.re-tag{
	margin-top:10px;
}
.recommend p.re-su{
	font-size: 18px;
	line-height:180%;
	color: #666;
	margin-bottom:10px;
}
.main .blog-item td{
	vertical-align: top;
}
.main .blog-item .blog-item-img{
	vertical-align:middle;
}
.main .blog-tips{
	color:#999;
	line-height:28px;
	font-size:12px;
}

