
.main .path{
	height:36px;	
}
.main .path a{
	float:left;
	text-align:center;
	line-height:36px;
}
.main .path em{
	width:10px;
	height:36px;
	background:url(../images/pt_item.png) no-repeat left 55%;
	float:left;
	padding-right:5px;
}

.main .blog-list{
	width:720px;
	min-height:400px;
	background-color:#FFF;
	border-radius: 5px;
	margin-top:10px;
	float:left;
}
.main .blog-list-realcontent{
	padding:10px;
}
.main .blog-list .title{
	height:40px;
	text-indent:10px;
	line-height:40px;
	font-weight:bold;
	border: none;
	border-bottom: 1px solid #efefef;
	border-radius: 5px 5px 0 0;
	background: #ffffff;
	background: -webkit-linear-gradient(top,#ffffff,#fafafa);
	background: -moz-linear-gradient(top,#ffffff,#fafafa);
	background: -ms-linear-gradient(top,#ffffff,#fafafa);
	background: -o-linear-gradient(top,#ffffff,#fafafa);
	background: linear-gradient(top,#ffffff,#fafafa);
}
.main .blog-title a{
	font-weight:bold;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:16px;
}
.main .blog-title a:hover{
	color:#0099FF;
}
.main .blog-item{
	margin-bottom:5px;
	border:2px solid #fff;
	padding:5px;
	border-bottom:2px dotted #ddd;
}
.main .blog-item  p.blog-content{
	text-indent:30px;
	line-height:180%;
	text-align:justify;
}
.main .item-bottom{
	height:25px;
}
.main .item-bottom span{
	float:right;
	height:25px;
}

.main .sidebar{
	width:300px;
	float:right;
	height:400px;
	margin-top:10px;
}

.main .sidebar-common{
	background-color:#FFF;
	border-radius: 5px;
	padding-bottom:10px;
	margin-bottom:10px;
}
.main .add-page{
	background-color:#0099FF;
	border-radius: 5px;
	margin-bottom:10px;
	height:40px;
}

.main .add-page li{
	float:left;
}

.main .add-page a{
	display:block;
	font-weight:bold;
	color:#fff;
	width:150px;
	text-align:center;
	line-height:40px;
	background-size:30px 30px;
}
.main .add-page a.add{
	background:url(../images/add.png) no-repeat 5px 38%;
	
}
.main .add-page a.manage{
	background:url(../images/manage.png) no-repeat 5px 38%;
}
.main .classes dt{
	padding:10px;
	background-color:#0099FF;
	color:#FFF;
	border-radius: 5px 5px 0 0;
	font-weight:bold;
	text-align:center;
}
.main .classes a{
	display:block;
	line-height:28px;
	text-align:left;
	text-indent:10px;
}
.main .sidebar-common2 .title{
	padding:10px;
	background-color:#fff;
	border-radius: 5px 5px 0 0;
	font-weight:bold;
	text-align:center;
	border: none;
	border-bottom: 1px solid #efefef;
	border-radius: 5px 5px 0 0;
	background: #ffffff;
	background: -webkit-linear-gradient(top,#ffffff,#fafafa);
	background: -moz-linear-gradient(top,#ffffff,#fafafa);
	background: -ms-linear-gradient(top,#ffffff,#fafafa);
	background: -o-linear-gradient(top,#ffffff,#fafafa);
	background: linear-gradient(top,#ffffff,#fafafa);
}
.main .sidebar-common2 dl{
	padding:10px;
}
 .fenye-bottom{
    height:40px;
}

 .fenye-bottom a,.main .fenye-bottom span{
	padding:6px 8px;
	margin-right:2px;
	border:1px solid #ccc;
	float:left;
}
 .fenye-bottom span{
	border:none;
	background-color:#fff;
}
 .fenye-bottom .currentPage{
	background-color:#0099FF;
	color:#fff;
}
 .fenye-bottom a:hover{
	border-color:#0099FF;
}