body{font-family:'微软雅黑';}
.main .path{
	height:36px;	
}
.main .path a{
	float:left;
	text-align:center;
	line-height:36px;
}
.main .path em{
	width:10px;
	height:36px;
	background:url(../images/pt_item.png) no-repeat left 55%;
	float:left;
	padding-right:5px;
}

.main .blog-title a{
	display:block;
	line-height:26px;
	font-size:16px;
	font-weight:normal;
}
.main .blog-title a:hover{
	text-decoration:underline;
}
.main .blog-item{
	border-bottom:1px dashed #ddd;
	padding-bottom:10px;
	padding-top:10px;
}

 .blog-item  p.blog-content{
	line-height:180%;
	text-align:justify;
	color:#666;
	text-indent:5px;
}
.main .blog-item-img{
	width:220px;
}
.main .recommend{
	border-bottom:1px dashed #ddd;
}
.recommend h1{
	line-height:38px;
	margin-bottom:10px;
}
.recommend h1 a{
	font-size:26px;
	font-weight:normal;
}
.recommend h1 a:hover{
	text-decoration:underline;
}
.recommend p{
	margin-bottom:10px;
}
.recommend p.re-tag{
	margin-top:10px;
}
.recommend p.re-su{
	font-size: 18px;
	line-height:180%;
	color: #666;
	margin-bottom:10px;
}
.main .blog-item td{
	vertical-align: top;
}
.main .blog-tips{
	color:#666;
	line-height:24px;
}

