
.content{
	padding-left:0px;
	width:1000px;
	font-family:'微软雅黑';
}
 .manage-content{
	min-height:500px;
	padding:10px;
}
.manage-content td{
	display:block;
	height:40px;
	text-align:center;
	border-bottom:1px dashed #ddd;
}

.manage-title{
	display:block;
	line-height:40px;
}

.current-tab{
	color:#000;
}