
.page-detail{
	width:630px;
	margin-top:10px;
}

.page-detail h2.title{
	font-size:13px;
	font-weight:normal;
	line-height:35px;
	font-family:'微软雅黑';
}
.page-detail h2.title span{
	padding:2px;
	margin-left:5px;
	margin-right:5px;
}
.page-detail h1.title{
	margin-top:10px;
	font-size:26px;
	font-weight:normal;
	font-family:'微软雅黑';
}
.page-detail .page-d-r{
	margin-top:10px;
	padding-top:20px;
	border-top:1px dotted #ddd;
}