
.page-detail{
	float:left;
	width:698px;
	margin-top:10px;
	background-color:#fff;
	min-height:500px;
	padding:10px;
	border:1px solid #efefef;
}

.page-detail h2.title{
	font-size:13px;
	border-bottom:1px dotted #efefef;
	text-indent:10px;
	line-height:35px;
}
.page-detail h2.title span{
	padding:2px;
	margin-left:5px;
	margin-right:5px;
}
.page-detail h1.title{
	margin-top:10px;
}
.page-detail .title{
	margin:5px;
	line-height:26px;
	font-size:16px;
	font-family:'微软雅黑';
	
}
.page-detail .page-d-r{
	line-height:180%;
}
