 .sidebar{
	width:280px;
	float:left;
	margin-left:30px;
	font-family:'微软雅黑';
}

.sidebar-common{
	padding-bottom:10px;
}
 .classes dt{
	font-weight:bold;
	font-size:13px;
	line-height:32px;
	color:#fff;
	background-color:#555;
	text-indent:10px;
}
.classes{
	padding-bottom:10px;
}
 .classes a{
	display:block;
	line-height:35px;
	border-bottom:1px dashed #ddd;
}
 .sidebar-common2 .title{
	font-weight:bold;
	font-size:13px;
	color:#fff;
	line-height:32px;
	background-color:#555;
	text-indent:10px;
}
.sidebar-common2 dl a{
	display:block;
	line-height:35px;
	border-bottom:1px dashed #ddd;
}