<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.blog.filter.LoginFilter</filter-class>
	</filter>
<filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>com.blog.filter.Fil</filter-class>
</filter>

<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>  
    <dispatcher>FORWARD</dispatcher>  
 
</filter-mapping>
<filter-mapping>
	<filter-name>loginFilter</filter-name>
	<url-pattern>/dp/manage/*</url-pattern>
	<dispatcher>REQUEST</dispatcher>  
    <dispatcher>FORWARD</dispatcher>  
    <dispatcher>INCLUDE</dispatcher>  
</filter-mapping>
  <servlet>
    <servlet-name>JsonTest</servlet-name>
    <servlet-class>com.test.JsonTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.blog.controller.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Init</servlet-name>
    <servlet-class>com.blog.controller.Init</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>BlogController</servlet-name>
    <servlet-class>com.blog.controller.BlogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonTest</servlet-name>
    <url-pattern>/jt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlogController</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
